<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfile</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
    <%- include('partials/header') %>
    <div class="profile-root">
        <p>Nombre: <%= user.name %></p>
        <p>Email: <%= user.email %></p>
        <p>Avatar: 
            <img class="avatar" src="/img/user/<%= user.avatar %>">
        </p>
        <p>Rol: <%= user.role?.name %></p>
    </div>
</body>
</html>