<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('partials/header') %>
    <table>
        <thead>
            <th>Nombre</th>
            <th>Email</th>
            <th>Avatar</th>
            <th>Rol</th>
        </thead>
        <tbody>
            <% users.forEach(user => { %>
                <tr>
                    <td><%= user.name %></td>
                    <td><%= user.email %></td>
                    <td>
                        <img src="/img/user/<%= user.avatar %>" height="50px">
                    </td>
                    <td><%= user.role?.name || 'No tiene rol' %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>